h1, p {
  text-align: center;
}

p {
  font-size: 20px;
}

#informations {
  width: 500px;
  height: 100%;
}

#map {
  position: relative;
  margin: 0 auto;
  top:20px;
  right:20px;
  /*background-color: transparent;
  /*opacity: 0.5;*/
    /*border-radius: 25px;*/
    border: 4px solid #0f71ba;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.leaflet-control-container{
  opacity: 1;
}

.pays {
  fill: #888;
  stroke: #444;
  stroke-width: 1px;
  opacity: 0.5;
}

.pays:hover {
  opacity: 1;
}

.tooltip {
  position:absolute;
  background: #f0f0f0;
  color:black;
  padding:10px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#page{
  position: relative;
  top:40%;
  left:48%;
}

#cercleLoading{
  position: relative;
  top:40%;
  left: 48%;

}

#TitreMapMonde,
#TitreMapPays{
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 70px;         /* taille de la police */
  color: white;          /* Couleur de la police */
  text-decoration: none;       /* Enlèvement du soulignement sur les liens */
  text-shadow: 0 -2px 0 #222222;   /* Ombre portée qui donne du volume : effet letterpress */
  margin-top: 200px;
}

#separationPays,
#separationMonde {
  background: url(../images/separation.png) no-repeat;
  width: 100%;
  height: 400px;
}

#selectPays{
  width: 20%;
  height: 40px;
  font-size: 23px;
  margin:auto;
  vertical-align: center;
  margin-top: 20px;
  display: block;

}

#Info{
  width: 100%;
  text-align: center;
}

#textInfo{
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 75%;
  height: 200px;
  border: 4px solid #0f71ba;
  background-color: #045dc3;
  color: white;
  font-size: 17px;
}

#Pays {
  text-align: center;
}

#graphArchive {
  width: 400px;
  text-align: left;
  float:left;
  top:10px;
}

#Footer{
  width: 100%;
  text-align: center;
}

#textFooter{
  text-align: center;
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 25px;
  width: 95%;
  height: 100px;
  border: 4px solid #0f71ba;
  background-color: #045dc3;
  color: white;
  font-size: 14px;
}

#textFooter p {
  font-size: 14px;
}

#contentsPays{
  width: 100%;
  position: relative;
}

#mapPays {
  float:right;
  position: relative;
  top:50px;
  height:700px;
  width:725px;
  border: 4px solid #0f71ba;
  padding: 20px;
  display: inline-block;
}

svg{
  position :absolute;
  top:0px;
  left:100px;
}

#carte{
  height:2000px;
  width:2000px;
}
.land{
  fill:#888;
  opacity: 0.6;
}

.alert-box {
    position: fixed;
    top: 300px;
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
    visibility: collapse;
    z-index: 999999;
    text-align: center;
    width: 400px;
    margin-left: 40%;
    margin-right: 40%;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec url('images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
  stroke: #0f71ba;
  stroke-width: 2px;
}


circle {
  fill : #0f71ba;
  stroke : #0f71ba;
  stroke-width: 4px;
  transition: stroke-width 0.5s;
}

circle:hover {
  stroke-width: 9px;
}

div.tooltip2 { 
    position: absolute;     
    text-align: center;     
    width: 85px;          
    height: 40px;         
    padding: 2px;       
    font: 15px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

#Graph{
  position: relative;
  display: inline-block;
  left:0px;
  margin-left: 20px;
  top:50px;
}

#yAx {
  width: 80px;
}