h1, p {
  text-align: center;
}
#informations{
  width: 500px;
  height: 100%;
}
#contents{
  width: 100%;

}
#map {
  margin: 0 auto;
  position: absolute;
  top:20px;
  right:20px;
  height:700px;
  width:800px;
}
.region {
  fill: #888;
  stroke: #444;
  stroke-width: 1px;
  opacity: 0.5;
}

.region:hover {
  opacity: 1;
}

.tooltip {
  position:absolute;
  background: #f0f0f0;
  color:black;
  padding:10px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.land:hover{
	fill:blue;
}
svg{
	position :absolute;
	top:0px;
	left:100px;
}

#carte{
	height:2000px;
	width:2000px;
}
.land{
  fill:#888;
}

body{
  background-color: white;
}